body{
    background-color: black
}
.construction{
    color:gold;
    text-align: center;
    margin: 150px 50px 50px 50px;
    font-size: 50px;
    text-shadow: 2px 2px 3px red;
     
    
}
.construction:hover{
    font-size: 60px;
    text-shadow: 1px 1px 2px rgb(255, 255, 254);
}

