body{
    background-color: black
}
.construction{
    color:gold;
    text-align: center;
    margin: 150px 50px 50px 50px;
    font-size: 50px;
    text-shadow: 2px 2px 3px red;
     
    
}
.construction:hover{
    font-size: 60px;
    text-shadow: 1px 1px 2px rgb(255, 255, 254);
}
.info{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 600px 10px 600px;
    padding: 0px 0px 0px 300px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color:transparent;
    text-decoration: solid;
    background-color: transparent;
    border-radius: 100px;
    transition: 2s;
}
.info:hover{

    color:red;
    background-color:gold;
    
}

span:hover{
    transition: 1.5s;
    font-size: 50px;
    padding-left: 10px;

}
